POSTGRES_DB=fintech
POSTGRES_USER=fintech_user
POSTGRES_PASSWORD=fintech_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@local.lab
PGADMIN_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_TOPIC=transactions.raw
KAFKA_CONSUMER_GROUP=bronze-minio-consumer

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=bronze

EVENT_SLEEP_SECONDS=1

# Azure Event Hub
AZURE_EVENTHUB_CONNECTION_STRING=Endpoint=sb://your-namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=your-key
AZURE_EVENTHUB_NAME=transactions-raw
